USE [master]
GO
/****** Object:  Database [Tempest-test-1]    Script Date: 17. 5. 2016 20:38:43 ******/
CREATE DATABASE [Tempest-test-1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tempest-test-1', FILENAME = N'C:\Users\Michal\Tempest-test-1.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tempest-test-1_log', FILENAME = N'C:\Users\Michal\Tempest-test-1_log.ldf' , SIZE = 15360KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tempest-test-1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tempest-test-1]
GO
USE [Tempest-test-1]
GO
/****** Object:  User [admin]    Script Date: 17. 5. 2016 20:38:43 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[admin]
GO
/****** Object:  Schema [admin]    Script Date: 17. 5. 2016 20:38:43 ******/
CREATE SCHEMA [admin]
GO
/****** Object:  Table [dbo].[EMP]    Script Date: 17. 5. 2016 20:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NULL,
	[Login] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
